<html>

    <head>
        <title>Kata blogja</title>
    </head>
    <body>
        <div>
            <h1><a href="">Kata Blog</a></h1>
        </div>


        <div>
            <p>published: 2019. 05. 13., 21:00</p>
            <h2><a href="">My first post</a></h2>
            <p>Én ott leszek, mikor feladnád, Amikor a fejedet lehajtanád, Én már nem hagylak el, mert, Az életem összenőtt veled teljesen
        </div>


        <div>
            <p>published: 2019. 05. 13., 21:10</p>
            <h2><a href="">My second post</a></h2>
            <p>Másfél hete, hogy a babám nem láttam,Másfél hete erdőt-mezőt bejártam.Nem tudom, hogy hová lett a kedvesem,Csak azt tudom, hogy mennyire szeretem
               Nem tudom, hogy hová lett a kedvesem, Csak azt tudom, hogy mennyire szeretem!
        </div>	       

    </body>
</html>
